
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@section Mysection
	{
	<h3>
		Section
	</h3>
}

@section Stylesection
{
	<style>
		h2{
			color:red;
		}
		h3{
			color:blue;
		}
	</style>
}
<h2>Index</h2>

